	*{
		box-sizing: border-box;
	}

	body{
		margin:0;
		font-family: Arial;
		font-size:16px;
	}

	h1,h2{
		margin:0;
	}

	#slideshow{
		max-width:800px;
		margin:50px auto;
		text-align: center;
	}

	#slide-container{
		position: relative;
		height:400px;
		overflow: hidden;
	}

	.slide{
		position:absolute;
		width:100%;
		left:100%;
	}

	.slide:first-child{
		left:0;
	}

	.slide h2{
		position:absolute;
		width:60%;
		left:20%;
		top:50%;
		transform:translateY(-50%);
		padding:0.5em;
		background-color:rgba(0,0,0,0.7);
		color:#FFF;
		font-size:2em;
	}

	#button-container{
		margin:15px 0;
		display:flex;
		justify-content:center;
	}

	.button{
		width:15px;
		height:15px;
		margin:0 5px;
		background-color:#CCC;
		border-radius:50%;
		cursor: pointer;
	}

	.active-button{
		background-color:#333;
	}
